*~
*.o
*.o_p
*.hi
dist
*.swp
client_session_key.aes
cabal-dev/
yesod/foobar/
.hsenv/
.cabal-sandbox/
cabal.sandbox.config
/vendor/
.shelly/
tarballs/dist*
static/tmp/
static/combined/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
.ghci
.dir-locals.el
